<div class="ui grid">
    <div class="eight wide column">
        <div class="fluid ui action input">
            {{input type="text" value=name  placeholder="New band..." id="band-input"}}
            <button class="circular ui vertical animated button" style="color: white; background-color: transparent; border-radius:160px; border: 2px solid white" disabled={{isAddButtonDisabled}}  {{action "createBand"}}>
                <div class="visible content">Add</div>
                <div class="hidden content">
                    <i class="plus icon"></i>
                </div>
            </button>
        </div>
        <br>
        <br>
        <ul>
    {{#each model as |band|}}
    {{#link-to "bands.band" band}}
    <a href="" style="margin-left: 0em">
        <button class="fluid circular ui huge button" style="color: white; background-color: transparent; border: 2px solid white;">
            {{band.name}}
        </button>
    </a>
    {{/link-to}}
    {{/each}}
</ul>
    </div>
    <div class="eight wide column">
        {{outlet}}
    </div>
</div>
